@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Arimo');

$lightgrey: #eee;
$darkgrey: #555;

.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  background: $lightgrey;
  border: 1px solid $darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Arimo', sans-serif;
  font-size: 4em;
}